.header {
  width: 700px;
  height: 100%;
  padding: 40px;
  background: #897bda;
  border-radius: 12px;
  margin-top: 30px;
}

.add-btn {
  position: relative;
  left: 216px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 20px;
  background-color: #862796;
  border: 0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-btn:hover {
  background-color: #561961;
}

.container-add {
  /* display: none; */
}

.container-add .expense {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-add input {
  width: 500px;
  padding: 7px;
  border-radius: 12px;
  border: 0;
}

.container-add button {
  position: relative;
  left: 464px;
  top: 6px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.add-expense {
  margin-right: 16px;
  background-color: #862796;
  color: #fff;
}

.add-expense:hover {
  background-color: #561961;
}

.cancel {
  color: #6a6a6a;
  background-color: #d0d0d0;
}

.cancel:hover {
  background-color: #ddd;
}
