.slide img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.container-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.arrow-left {
  font-size: 50px;
  margin-right: 20px;
}

.arrow-right {
  font-size: 50px;
  margin-left: 20px;
}

.slide {
  border: solid 2px gray;
}

.container-dots {
  position: absolute;
  bottom: 220px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
