form {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

form .username {
  margin-right: 6px;
}

form .password {
  margin-right: 11px;
}

form input {
  padding: 5px 20px;
  margin-bottom: 8px;
}

form button {
  padding: 5px 20px;
}
